/* @font-face {
  font-family: 'Noto Sans';
  src: url(/NotoSansTC-Regular.otf);
} */

* {
  /* background-color: #FAFAFA; */


  /*
  Dont import any other font faces otherwise png generation will fucked up (extremely slow)
  */
  font-family: "Helvetica", "Arial", sans-serif;

}